*{
    padding: 0;
    margin: 0;
}
.main {
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    height: 400px;
    width: 350px;
    margin: 50% auto;
    border: 1px solid #ebebeb;
}
.Outerbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    justify-content: space-evenly;
}
.cal {
    border-bottom: 1px solid #ebebeb !important;
    width: 100%;
    text-align: center;
    font-size: 25px;
}
.years {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.months {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.months i {
    font-size: 25px;
}
.months i:hover{
    color: blue;
}
.years select {
    
    border: none;
  
}
.months p {
    margin-top: 0;
     margin-bottom: 0 !important; 
}
.days {
    display: block;
    width: 100%;
}
.days ul {
    display: flex;
    list-style-type: none;
    /* padding: 0 3px; */
    margin-bottom: 0 !important;
    justify-content: space-between;
}
/* .days ul li {
    padding: 0 5px;
} */
.days ul li:hover{
    color: blue;
    font-weight: bolder;
}
.dates {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    /* justify-content: space-between; */
    /* flex: 0 0 15%; */
}
.dat {
    display: flex;
    flex: 0 0 14%;
    justify-content: center;
}
.dat:hover{
    color:blue;
    font-weight: bolder;
    cursor: pointer;
}
.dat:active{
    color: red;
}
#ok{
    border: 1px solid #e0dbdb;
    padding: 5px;
    border-radius: 5px;
    margin: 0 5px;
    background: white;
}
p#btn{
    margin-bottom: 0 !important;
}
.watchbtns button{
    border: 1px solid #e0dbdb;
    padding: 5px;
    border-radius: 5px;
    margin: 0 5px;
    background: white;

}